<div class="modal" tabindex="-1" role="dialog" id="modalLink" (keydown)="esc($event)">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">OPEN LINK</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="link">
                <a type="button" class="btn btn-success btn-open" [href]="sanitize('spotify:' + link.type + ':' + link.id)" target="_blank">OPEN IN SPOTIFY DESKTOP</a>
                <a type="button" class="btn btn-success btn-open" [href]="'https://play.spotify.com/' + link.type + '/' + link.id" target="_blank">OPEN IN APP/WEB</a>
            </div>
        </div>
    </div>
</div>