<div class="container-show">
    <app-navbar></app-navbar>

    <div class="loading-wrapper" *ngIf="loading">
        <app-loading ></app-loading>>
    </div>

    <div *ngIf="error">
        <h1 class="error">Error, try again later...</h1>
    </div>

    <div class="row show-container" *ngIf="show && !error && !loading">
    <div class="offset-md-2 col-md-2 img-wrapper col-sm-6 col-xs-12">
            <img class="img-show" [src]="show?.images[0]?.url" alt="">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 titles-wrapper">
            <h2 class="show-name">{{show.name}}</h2>
            <p class="show-description">{{show.description}}</p>
        </div>

        <div class="col-md-3 col-sm-12 col-xs-12 titles-wrapper">
            <div class="row container-search">
                <div class="col-md-7 input-search-wrapper">
                    <input (keydown)="onKey($event)" [disabled]="searching" [(ngModel)]="search" type="text" class="form-control search-episode"
                        placeholder="Search episodes...">
                </div>
                <div class="col-md-5  ">
                    <button (click)="searchEpisodes()" [disabled]="searching" class="btn btn-success btn-open-spotify">SEARCH</button>
                </div>
            </div>
            <button (click)="openLink('show', showID)" class="btn btn-success btn-open-spotify">OPEN</button>
        </div>
    </div>

    <app-loading *ngIf="searching"></app-loading>
    <h1 *ngIf="nodata" class="no-results">No results found :/</h1>

    <div class="container-episodes row" *ngIf="!searching && episodes?.length">
        <div class="offset-md-2 col-md-8">
            <div *ngFor="let episode of episodes" class="container-episode" (click)="openLink('episode', episode.id)">
                <div class="episode-duration-wrapper">
                    <span class="episode-name">{{episode.name}}</span> 
                    <span class="episode-duration">{{episode.duration_formated}}</span>
                </div>
                <div >
                    <p class="episode-date">{{episode.release_date_formated}}</p>
                </div>
            </div>
            <!-- <table class="table table-responsive table-episodes">
                <thead>
                    <th class="episode-name">Name</th>
                    <th class="episode-date">Date</th>
                    <th class="episode-duration">Duration</th>
                </thead>

                <tbody>
                    <tr *ngFor="let episode of episodes">
                        <td>{{episode.name}}</td>
                        <td>{{episode.release_date}}</td>
                        <td>{{episode.duration_ms}}</td>
                    </tr>
                </tbody>
            </table> -->
        </div>
    </div>

    <app-open-link [link]="currentLink"></app-open-link>
</div>