.container-show {
    background-color: #121212;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow:auto;
}

.loading-wrapper {
    margin-top: 120px;
}

.error {
    color: white;
    font-size: 30px;
    text-align: center;
}


.img-show {
    height: 300px;
    width: 300px;
    padding: 0px;
    float: right;
}

.show-name   {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.show-description {
    color: white;
    text-align: justify;
    font-size: 20px;
}

.show-container {
    padding-top: 100px;
}

.btn-open-spotify {
    border-radius: 20px;
    width: 100%;
    font-weight: bold;
    height: 50px;
    margin-top: 20px;
}

.btn-search {
    font-weight: bold;
    width: 100%;
    border-radius: 20px;
}

.input-search-wrapper {
    margin-right: 0px;
    padding-right: 10px;
    width: 100%;
}

.btn-search-wrapper {
    margin-left: 0px;
    padding-left: 0px;
}


.table-episodes th, td {
    color:white;
    font-size: 20px;
}

.container-episodes {
    margin-top: 40px;
}

.episode-name {
    color:white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    float: left;
}

.episode-duration {
    color:white;
    float: right;
}

.episode-date {
    color:white;
    font-size: 16px;
    margin-top: 0px;
    line-height: 10px;
}

.container-episode {
    padding: 4px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.episode-duration-wrapper {
    display: inline-block;
    width: 100%;
    margin: 0px;
    padding: 0px;
}