<!-- <div class="container-fluid container-login">
    <form action="" class="form-login">
        <h1 class="login-title">Spotify Podcasts</h1>
        <div class="form-group">
            <label for="loginUser">Username</label>
            <input type="text" class="form-control" name="user" id="loginUser">
        </div>
        <div class="form-group">
            <label for="loginPassword">Password</label>
            <input type="password" class="form-control"name="password" id="loginPassword">
        </div>

        <button class="btn btn-success login-submit">LOG IN</button>
    </form>
</div>
 -->

 <div class="container-fluid">
    <div class="container-login">
        <h1 class="page-title">Spotify Podcasts</h1>
        <button class="btn btn-success submit-spotify" (click)="spotifyLogin()" >LOG IN WITH SPOTIFY</button>                    
    </div>
 </div>